body {
  background: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Monsterrat', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  user-select: none;
}

@@keyframes slideFromLeft {
  0% {
    transform: translateX(-80px);
  }
  100% {
    transform: translateX(0);
  }
}
